<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'event-list' %}">Django Event Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form action="{% url 'event-list' %}" method="GET">
            <input type="text" name='search' placeholder="search for events..">
          </form>
      </li>
        {% if request.user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'organizer-event-list' request.user %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ request.user }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a href="{% url 'update-view-personal-info' request.user %}" style="color: black;">
                update personal info
              </a>
              <a href="{% url 'update-password' request.user %}" style="color: black;">
                change password
              </a>
              <a href="{% url 'bookings-list-user' %}" style="color: black;">
                view bookings
              </a>
            </div>
            
          </div>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>